Data Segregation

16/05/2025 Friday

In [1]:
# Also called as Splitting the Data Set

# Divide the Data into two parts as
#       - Splitting Data - First phase
#       - Training Data - used to train the Model - 70% - Second pahse
#       - Testing Data - used evaluate the Model - 30% - Third phase

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Iris-f.csv")
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            NaN           3.6            1.4           0.2  Iris-setosa

In [4]:
df.dropna(inplace = True)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
5            5.4           3.9            1.7           0.4  Iris-setosa

In [5]:
# Here, we are using method not a class
# So, we not required Object

# Before that we are shuffle the data, which we are using random data from the Data Set

In [6]:
# if we want an equal distrubution we use "stratify = class label" - called as class Balancing

In [7]:
df.value_counts(df['Species'])

Species
Iris-versicolor    50
Iris-virginica     50
Iris-setosa        46
Name: count, dtype: int64

In [8]:
x = df.iloc[:, 0:4]
y = df.Species

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 1, shuffle = True, stratify = y)
# random_state - like a seed value for the future use from the same point

In [9]:
x_train.shape

(109, 4)

In [10]:
y_train.shape

(109,)

In [11]:
x_test.shape

(37, 4)

In [12]:
y_test.shape

(37,)

In [13]:
y_train.value_counts()

Species
Iris-virginica     37
Iris-versicolor    37
Iris-setosa        35
Name: count, dtype: int64